@import "variables", "mixins", "fonts", "reset";

.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .home-tit {
    text-align: center;
    padding-top: 45px;
    p {
      font-size: 50px;
      color: $white;
    }
    .main-tit {
      padding-top: 100px;
      h1 {
        font-family: $font-scondary;
        font-size: 80px;
        color: $white;

        span.cursor {
          display: inline-block;
          background-color: #ccc;
          margin-left: 0.1rem;
          width: 3px;
          animation: blink 1s infinite;
        }

        span.cursor.typing {
          animation: none;
        }

        @keyframes blink {
          0% {
            background-color: #ccc;
          }
          49% {
            background-color: #ccc;
          }
          50% {
            background-color: transparent;
          }
          99% {
            background-color: transparent;
          }
          100% {
            background-color: #ccc;
          }
        }
      }
    }
  }

  .file {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-bottom: 30px;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $white;
      font-size: 30px;
    }
  }
}

.about {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // position: relative;
  h1 {
    font-family: $font-scondary;
    font-size: 80px;
    color: $white;
    text-align: center;
    margin: 60px 0 30px;
  }

  .airdrop {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    // align-items: center;
    position: relative;
    font-family: "AppleSDGothicNeoSB";
    .airdrop-inner {
      height: 500px;
      width: 412px;
      background-color: $white;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .airdrop-tit {
        height: 124px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
          font-weight: 600;
        }
        h3 {
          font-weight: 500;
        }
      }

      .airdrop-img {
        img {
          display: block;
        }
      }

      .airdrop-btn {
        width: 100%;
        height: 66px;
        display: flex;
        align-items: center;

        .btn {
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          font-size: 20px;
          height: 100%;
          color: #173fbb;

          a {
            color: #173fbb;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-left: 1px solid #eee;
          }
        }
      }
    }

    .airdrop-hover {
      width: 100%;
      display: none;
      position: absolute;

      .intro {
        color: $white;
        position: absolute;
        right: 50px;
        padding: 20px;

        .name {
          font-size: 20px;
          margin-top: 50px;
          padding-bottom: 30px;
          span {
            padding-left: 10px;
          }
        }

        ul {
          padding-bottom: 30px;
          li {
            padding-bottom: 5px;
          }
          .introtit {
            font-size: 20px;
          }
        }
      }
      .album {
        max-width: 413px;
        width: 100%;
        position: absolute;
        left: 50px;
        img {
          object-fit: cover;
        }
      }
    }
  }
}

.project {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .portfolio {
    max-height: 700px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(../../images/mac-pc.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    color: $black;
    padding: 0 0px;

    .port-tit {
      font-size: 40px;
      display: flex;
      justify-content: center;
      padding: 100px 0 30px;
    }

    .work {
      display: flex;
      margin: 0 170px;
      max-height: 500px;

      .work-view {
        width: 50%;
        overflow: hidden;
        position: relative;

        img {
          width: 100%;
          object-fit: cover;
          overflow: hidden;
          transition: transform 5s ease;
        }

        &:hover img {
          transform: translateY(-100%);
        }
      }
      .work-desc {
        width: 50%;
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        // .logo {
        //   display: flex;
        //   justify-content: center;
        //   margin: 15px 0 40px;
        //   max-width: 200px;
        //   width: 100%;
        //   img {
        //     object-fit: contain;
        //     display: block;
        //   }
        // }
        .desc-list {
          display: flex;
          flex-direction: column;
          padding: 10px 0 0 30px;
          gap: 15px;

          b {
            color: $primary;
            padding-right: 20px;
          }

          li:nth-child(5) {
            margin-top: 30px;
          }

          li:last-child {
            margin-top: 10px;
          }

          .button {
            background-color: $primary;
            color: $white;
            padding: 10px 20px;
            border-radius: 10px;
          }
        }
      }
    }
  }
}

.contact {
  height: 100vh;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .marquee {
    overflow: hidden;
    display: flex;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    h1 {
      font-family: $font-scondary;
      font-size: 80px;
      white-space: nowrap;
      text-transform: uppercase;
      letter-spacing: 8px;
    }
  }

  .ct-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    max-width: 500px;
    width: 100%;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.072);
    backdrop-filter: blur(15px);
    border-radius: 30px;

    .ft-tit {
      padding: 50px;
      font-size: 32px;
    }

    .ct-list {
      display: flex;
      margin-bottom: 50px;

      li {
        padding: 50px;
        a {
          color: $white;
          font-size: 22px;
          display: block;
          border-bottom: 2px solid $primary;
        }
      }
    }

    .copyright {
      font-size: 15px;
    }
  }
}
