@import "variables", "mixins", "fonts", "reset";

.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .home-tit {
    text-align: center;
    padding-top: 50px;
    p {
      font-size: 50px;
      color: $white;
    }
    .main-tit {
      padding-top: 100px;
      h1 {
        font-family: $font-scondary;
        font-size: 100px;
        color: $white;

        span.cursor {
          display: inline-block;
          background-color: #ccc;
          margin-left: 0.1rem;
          width: 3px;
          animation: blink 1s infinite;
        }

        span.cursor.typing {
          animation: none;
        }

        @keyframes blink {
          0% {
            background-color: #ccc;
          }
          49% {
            background-color: #ccc;
          }
          50% {
            background-color: transparent;
          }
          99% {
            background-color: transparent;
          }
          100% {
            background-color: #ccc;
          }
        }
      }
    }
  }

  .file {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-bottom: 30px;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $white;
      font-size: 30px;
    }
  }
}

.about {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  h1 {
    font-family: $font-scondary;
    font-size: 100px;
    color: $white;
    text-align: center;
    margin: 100px 0 30px;
  }

  .airdrop {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .airdrop-inner {
      height: 500px;
      width: 412px;
      background-color: $white;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .airdrop-tit {
        height: 124px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
          font-weight: 600;
        }
        h3 {
          font-weight: 500;
        }
      }

      .airdrop-img {
        img {
          display: block;
        }
      }

      .airdrop-btn {
        width: 100%;
        height: 66px;
        display: flex;
        align-items: center;

        .btn {
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          font-size: 20px;
          height: 100%;
          color: #173fbb;
        }
        .scroll {
          font-weight: 600;
          border-left: 1px solid #d8d8d8;
        }

        .hover {
          &:hover {
            .airdrop-hover {
              display: flex;
            }
          }
        }
      }
    }
    .airdrop-hover {
      width: 100%;
      display: none;
      justify-content: space-between;
      position: absolute;
      padding: 0 30px;
      .album {
        width: 25%;
        background-color: antiquewhite;
      }
      .intro {
        width: 30%;
        background-color: azure;
      }
    }
  }
}

.project {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .portfolio {
    max-height: 800px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../../images/mac-pc.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    color: $black;

    .port-tit {
      font-size: 50px;
      display: flex;
      justify-content: center;
      padding: 100px 0 50px;
    }

    .work {
      display: flex;
      margin: 0 30px;
      .work-view {
        width: 60%;
        background-color: lightblue;
      }
      .work-desc {
        width: 40%;
        background-color: lavenderblush;
      }
    }
  }
}

.contact {
  height: 100vh;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0 30px;

    .copyright {
      display: flex;
    }
    .phone {
      display: flex;
      img {
        height: 700px;
      }
    }
  }

  .footer-tit {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: $font-scondary;
    font-size: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .message {
    display: none;
  }
}
