@import "variables", "mixins", "fonts", "reset";

.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .home-tit {
    text-align: center;
    padding-top: 50px;
    p {
      font-size: 50px;
      color: $white;
    }
    h1 {
      font-family: $font-scondary;
      font-size: 100px;
      color: $white;
      padding-top: 100px;
    }
  }

  .file {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-bottom: 30px;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $white;
      font-size: 30px;
    }
  }
}

.about {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  h1 {
    font-family: $font-scondary;
    font-size: 100px;
    color: $white;
    text-align: center;
    margin-bottom: 50px;
  }

  .airdrop {
    height: 500px;
    width: 412px;
    background-color: $white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .airdrop-tit {
      height: 124px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h2 {
        font-weight: 600;
      }
      h3 {
        font-weight: 500;
      }
    }

    .airdrop-img {
      img {
        display: block;
      }
    }

    .airdrop-btn {
      width: 100%;
      height: 66px;
      display: flex;
      align-items: center;

      .btn {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 20px;

        a {
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          color: #173fbb;
          justify-content: center;
        }
      }
      .scroll {
        a {
          font-weight: 600;
          border-left: 1px solid #d8d8d8;
        }
      }
    }
  }

  .airdrop-hover {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    .album {
      display: flex;
      background-color: antiquewhite;
    }
    .intro {
      display: flex;
      background-color: azure;
    }
  }

  .airdrop-hover {
    display: none;
  }
  // .hover {
  //   // 마우스 호버 시 .airdrop-hover를 표시하도록 함
  //   .airdrop-btn:hover + .airdrop-hover {
  //     display: flex;
  //   }
  // }
  .airdrop-btn .hover:hover ~ .airdrop-hover {
    // 마우스 호버 시 .airdrop-hover를 표시하도록 함

    display: flex;
  }
}

.project {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .portfolio {
    max-height: 800px;
    height: 100%;
    width: 100%;
    background-image: url(../../images/mac-pc.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    color: $black;

    .port-tit {
      font-size: 50px;
      display: flex;
      justify-content: center;
      padding-top: 100px;
    }

    .work {
      display: flex;
      .work-view {
        width: 60%;
        background-color: lightblue;
      }
      .work-desc {
        width: 40%;
        background-color: lavenderblush;
      }
    }
  }
}

.contact {
  height: 100vh;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0 30px;

    .copyright {
      display: flex;
    }
    .phone {
      display: flex;
      img {
        height: 700px;
      }
    }
  }

  .footer-tit {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: $font-scondary;
    font-size: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .message {
    display: none;
  }
}
