@import "variables", "mixins", "fonts", "reset";

.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .home-tit {
    text-align: center;
    padding-top: 45px;
    p {
      font-size: 50px;
      color: $white;
    }
    .main-tit {
      padding-top: 100px;
      h1 {
        font-family: $font-scondary;
        font-size: 80px;
        color: $white;

        span.cursor {
          display: inline-block;
          background-color: #ccc;
          margin-left: 0.1rem;
          width: 3px;
          animation: blink 1s infinite;
        }

        span.cursor.typing {
          animation: none;
        }

        @keyframes blink {
          0% {
            background-color: #ccc;
          }
          49% {
            background-color: #ccc;
          }
          50% {
            background-color: transparent;
          }
          99% {
            background-color: transparent;
          }
          100% {
            background-color: #ccc;
          }
        }
      }
    }
  }

  .file {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-bottom: 30px;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $white;
      font-size: 30px;
    }
  }
}

.about {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // position: relative;
  h1 {
    font-family: $font-scondary;
    font-size: 80px;
    color: $white;
    text-align: center;
    margin: 60px 0 30px;
  }

  .airdrop {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    // align-items: center;
    position: relative;
    font-family: "AppleSDGothicNeoSB";
    .airdrop-inner {
      height: 500px;
      width: 412px;
      background-color: $white;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .airdrop-tit {
        height: 124px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
          font-weight: 600;
        }
        h3 {
          font-weight: 500;
        }
      }

      .airdrop-img {
        img {
          display: block;
        }
      }

      .airdrop-btn {
        width: 100%;
        height: 66px;
        display: flex;
        align-items: center;

        .btn {
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          font-size: 20px;
          height: 100%;
          color: #173fbb;

          a {
            color: #173fbb;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-left: 1px solid #eee;
          }
        }
      }
    }

    .airdrop-hover {
      width: 100%;
      display: none;
      position: absolute;
      transition: opacity 0.3s ease, transform 0.3s ease;

      .intro {
        background-color: #eee;
        position: absolute;
        right: 50px;
        p {
          padding-bottom: 10px;
        }
      }
      .album {
        position: absolute;
        left: 50px;
      }
    }
  }
}

.project {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .portfolio {
    max-height: 700px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(../../images/mac-pc.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    color: $black;
    padding: 0 0px;

    .port-tit {
      font-size: 40px;
      display: flex;
      justify-content: center;
      padding: 100px 0 30px;
    }

    .work {
      display: flex;
      margin: 0 150px;
      max-height: 500px;

      .work-view {
        width: 60%;
        overflow: hidden;
        position: relative;

        img {
          width: 100%;
          object-fit: cover;
          overflow: hidden;
          transition: transform 5s ease;
        }

        &:hover img {
          transform: translateY(-100%); // 호버 시 이미지가 아래로 이동
        }
      }
      .work-desc {
        width: 40%;
        // background-color: lavenderblush;
        .logo {
          display: flex;
          justify-content: center;
          margin: 30px 0 50px;
        }
        .desc-list {
          display: flex;
          flex-direction: column;
          padding: 10px 0 0 30px;
          gap: 15px;
        }
      }
    }
  }
}

.contact {
  height: 100vh;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  .inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0 30px;

    .copyright {
      display: flex;
    }
    .phone {
      display: flex;
      z-index: 10;

      img {
        height: 700px;
      }
    }
  }

  .marquee {
    overflow: hidden;
    display: flex;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .marquee h1 {
    font-family: $font-scondary;
    font-size: 80px;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 8px;
  }

  .message {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    .message-inner-blues {
      position: relative;
      img {
        height: 60px;
        // width: 100%;
      }
    }
    .message-inner-grays {
      img {
        height: 60px;
      }
    }
    .message-inner-big {
      img {
        height: 90px;
      }
    }
  }
}
