@charset "UTF-8";
@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Black"), url(./woff2/Pretendard-Black.woff2) format("woff2"), url(./woff/Pretendard-Black.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"), url(./woff2/Pretendard-ExtraBold.woff2) format("woff2"), url(./woff/Pretendard-ExtraBold.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"), url(./woff2/Pretendard-Bold.woff2) format("woff2"), url(./woff/Pretendard-Bold.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"), url(./woff2/Pretendard-SemiBold.woff2) format("woff2"), url(./woff/Pretendard-SemiBold.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"), url(./woff2/Pretendard-Medium.woff2) format("woff2"), url(./woff/Pretendard-Medium.woff) format("woff");
}
@font-face {
  font-family: "PretendardR";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"), url(./woff2/Pretendard-Regular.woff2) format("woff2"), url(./woff/Pretendard-Regular.woff) format("woff");
}
@font-face {
  font-family: "Pretendardl";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"), url(./woff2/Pretendard-Light.woff2) format("woff2"), url(./woff/Pretendard-Light.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard ExtraLight"), url(./woff2/Pretendard-ExtraLight.woff2) format("woff2"), url(./woff/Pretendard-ExtraLight.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Thin"), url(./woff2/Pretendard-Thin.woff2) format("woff2"), url(./woff/Pretendard-Thin.woff) format("woff");
}
@font-face {
  font-family: "AppleSDGothicNeoR";
  font-weight: 400;
  src: url(../fonts/AppleSDGothicNeoR.woff2) format("woff2");
}
@font-face {
  font-family: "AppleSDGothicNeoM";
  font-weight: 500;
  src: url(../fonts/AppleSDGothicNeoM.woff2) format("woff2");
}
@font-face {
  font-family: "AppleSDGothicNeoSB";
  font-weight: 600;
  src: url(../fonts/AppleSDGothicNeoSB.woff2) format("woff2");
}
@font-face {
  font-family: "Arsenica-Regular";
  font-weight: 300;
  src: url(../fonts/ArsenicaTrial-Regular.woff) format("woff");
}
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
}

button {
  -webkit-appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Noto Sans KR", sans-serif, "Malgun Gothic", "맑은 고딕", sans-serif;
}

/* desktop */
@media screen and (min-width: 1280px) {
  body {
    font-size: 16px;
  }
}
/* color값은 디자인가이드에 맞게사용 */
a {
  color: #333;
  text-decoration: none;
}
a:active, a:hover {
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home .home-tit {
  text-align: center;
  padding-top: 50px;
}
.home .home-tit p {
  font-size: 50px;
  color: #fff;
}
.home .home-tit h1 {
  font-family: "Arsenica-Regular";
  font-size: 100px;
  color: #fff;
  padding-top: 100px;
}
.home .file {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-bottom: 30px;
}
.home .file a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-size: 30px;
}

.about {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.about h1 {
  font-family: "Arsenica-Regular";
  font-size: 100px;
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
}
.about .airdrop {
  height: 500px;
  width: 412px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .airdrop .airdrop-tit {
  height: 124px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about .airdrop .airdrop-tit h2 {
  font-weight: 600;
}
.about .airdrop .airdrop-tit h3 {
  font-weight: 500;
}
.about .airdrop .airdrop-img img {
  display: block;
}
.about .airdrop .airdrop-btn {
  width: 100%;
  height: 66px;
  display: flex;
  align-items: center;
}
.about .airdrop .airdrop-btn .btn {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 20px;
}
.about .airdrop .airdrop-btn .btn a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  color: #173fbb;
  justify-content: center;
}
.about .airdrop .airdrop-btn .scroll a {
  font-weight: 600;
  border-left: 1px solid #d8d8d8;
}
.about .airdrop-hover {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
}
.about .airdrop-hover .album {
  display: flex;
  background-color: antiquewhite;
}
.about .airdrop-hover .intro {
  display: flex;
  background-color: azure;
}
.about .airdrop-hover {
  display: none;
}
.about .airdrop-btn .hover:hover ~ .airdrop-hover {
  display: flex;
}

.project {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project .portfolio {
  max-height: 800px;
  height: 100%;
  width: 100%;
  background-image: url(../../images/mac-pc.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  color: #000;
}
.project .portfolio .port-tit {
  font-size: 50px;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.project .portfolio .work {
  display: flex;
}
.project .portfolio .work .work-view {
  width: 60%;
  background-color: lightblue;
}
.project .portfolio .work .work-desc {
  width: 40%;
  background-color: lavenderblush;
}

.contact {
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact .inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0 30px;
}
.contact .inner .copyright {
  display: flex;
}
.contact .inner .phone {
  display: flex;
}
.contact .inner .phone img {
  height: 700px;
}
.contact .footer-tit {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Arsenica-Regular";
  font-size: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.contact .message {
  display: none;
}/*# sourceMappingURL=comm.css.map */